.vscode
*.ddmesh
.mayaSwatches
*~
*.tags*
tags
*.vim
*.swp
GPATH
GRTAGS
GSYMS
GTAGS
*.ini
ShaderReflect.h
Config.h
backtrace/config.h
backtrace/backtrace-supported.h
*.log
lua_53/src/luaconf.h
src/zconf.h.included
src/zconf.h
src/SerializerSchema/*.h
set_env.*
Scripts/lua_config.lua
!Textures/
Textures/*
TODO.txt
*.gdb
RunGen.lua

#**************** Binary assets to ignore          ************************

*.matb

#**************** General folders to always ignore ************************

release
debug
x64
bin
lib
build
Projects
